/*/// Fonts Importadas ///*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');
/* font-family: 'Encode Sans SC', sans-serif; */

/* ____________________________________________________________________________________________________________________________________ */
/* ____________________________________________________________________________________________________________________________________ */
/* ____________________________________________________________________________________________________________________________________ */

/*/// Header, background y general ///*/

:root {
    --fuente: 'Roboto', sans-serif;
}

body {
    background-color: rgba(14, 235, 62, 0.616);
}

header {
    display: flex;
    justify-content: center;
    font-family: 'Encode Sans SC', sans-serif !important;
}

h3 {
    width: 79%;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    font-family: 'Encode Sans SC', sans-serif !important;
    border-bottom: solid ivory;
}

p {
    font-style: italic;
    font-family: var(--fuente);
    margin: 15px 0px 0px 30px;
}

text {
    font-family: var(--fuente);
}

form {
    width: 90%;
    display: grid;
}

button {
    width: 15em;
    margin-top: 5px;
    cursor: pointer;
}


/* ____________________________________________________________________________________________________________________________________ */

/*/// Estilizando Inputs del Triángulo ///*/

input {
    width: 70px; 
    margin-bottom: 5px;
    outline: none;
}

/* ____________________________________________________________________________________________________________________________________ */

